<label id="label">Title</label>
<input type="text" id="data">
<label id="label">Description</label>
<input type="text" id="data">
<label id="label">Code</label>
<input type="number" id="data">
<label id="label">Price</label>
<input type="number" id="data">
<label id="label">Status</label>
<input type="checkbox" id="data">
    "status": true,
    "stock": 10,
    "category": "nose",
    "thumbnails": "aa",

<button id="sendButton">Enviar mensaje</button>
<div id="chatHistory"></div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>